.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

.idea
**/*.class
**/*.iml

nbproject
build.xml
manifest.mf

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# CDT- autotools
.autotools

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

# Annotation Processing
.apt_generated/
.apt_generated_test/

# Scala IDE specific (Scala & Java development for Eclipse)
.cache-main
.scala_dependencies
.worksheet
/03 - Logica das Responsabilidades - Classe Responsabilidade Colaboração (CRC)/nbproject/private/
/06 - EstaticaVsInstancia/nbproject/private/
/07 - Atividade Pizzas/nbproject/private/
/02 - Compra/nbproject/private/
/09 - Testes unitários com JUnit/nbproject/private/
/04 - Atividade IMC/nbproject/private/
/08 - Biblioteca/nbproject/private/
/01 - Carros/nbproject/private/
/05 - Pontuação - Colaboração entre classes - Calculadora Bonus em Forum/nbproject/private/
/01 - Carros/build/
/08 - Biblioteca/build/